.nbsearch-todo {
  color: grey;
}

.nbsearch-search-panel {
  margin: 1em;
}

.nbsearch-category-header {
  font-weight: bold;
}

.nbsearch-category-body {
  margin-left: 1em;
  margin-bottom: 0.4em;
}

.nbsearch-category-body input {
  vertical-align: middle;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.nbsearch-category-body select {
  vertical-align: middle;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.nbsearch-target-disabled {
  color: #ccc;
}

.nbsearch-notebook-disabled {
  color: #ccc;
}

.nbsearch-cell-container {
  margin: 1em 1em;
}

.nbsearch-import {
  padding: 0.2em;
}

.nbsearch-query-tabs {
  display: flex;
}

.nbsearch-query-tabs > div {
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: default;
}

.nbsearch-query-tab-active {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.nbsearch-query-tab-inactive {
  border-bottom: 1px solid #ccc;
}

.nbsearch-notebook-result-self {
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.nbsearch-notebook-result-append {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.fa-append-search:before {
  content: "\f002";
}

.fa-append-search:after {
  content: "+";
}
